<div fxLayout="row wrap">
    <div fxFlex.gt-lg="100" fxFlex.gt-md="100" fxFlex.gt-xs="100" fxFlex="100">
        <mat-card>
            <mat-card-content>
                <div class="d-flex flex-wrap">
                    <div>
                        <mat-card-title>ITA-COVID19</mat-card-title>
                        <mat-card-subtitle>Informazioni utili</mat-card-subtitle>
                    </div>
                </div>
            </mat-card-content>
        </mat-card>
    </div>
</div>


<div fxLayout="row wrap">
    <div fxFlex.gt-lg="100" fxFlex.gt-md="100" fxFlex.gt-xs="100" fxFlex="100">
        <mat-card>
            <mat-card-content>
                <div class="d-flex flex-wrap">
                    <div>
                        <mat-card-title>Breve guida</mat-card-title>
                        <mat-card-subtitle></mat-card-subtitle>
                    </div>
                </div>

                <span>
                    <br>
                    <ul>
                        <li>I dati vengono aggiornati tutti i giorni alle 18:30</li>
                        <li>La maggior parte dei grafici prende in considerazione i dati degli ultimi 30 giorni</li>
                        <li>Per visualizzare i valori per ogni giornata:</li>
                        <ul>
                            <li>Da Desktop: passaggio con il mouse sui punti all'interno del grafico</li>
                            <li>Da Mobile: cliccare sui punti all'interno del grafico</li>
                        </ul>
                    </ul>
                </span>
            </mat-card-content>
        </mat-card>
    </div>
</div>

<div fxLayout="row wrap">
    <div fxFlex.gt-lg="100" fxFlex.gt-md="100" fxFlex.gt-xs="100" fxFlex="100">
        <mat-card>
            <mat-card-content>
                <div class="d-flex flex-wrap">
                    <div>
                        <mat-card-title>Autore</mat-card-title>
                        <mat-card-subtitle></mat-card-subtitle>
                    </div>
                </div>
                <img width="12%"
                    src="https://1.gravatar.com/avatar/abe1110a1a0c830f3a00d20fb578b76b?s=240&d=identicon&r=G">
                <br>
                <p class="mat-subheading-2">Carmelo La Gamba (<a href="https://github.com/carmelolg">GitHub</a>)</p>
            </mat-card-content>
        </mat-card>
    </div>
</div>

<div fxLayout="row wrap">
    <div fxFlex.gt-lg="100" fxFlex.gt-md="100" fxFlex.gt-xs="100" fxFlex="100">
        <mat-card>
            <mat-card-content>
                <div class="d-flex flex-wrap">
                    <div>
                        <mat-card-title>Riconoscimenti e attribuzioni</mat-card-title>
                        <mat-card-subtitle></mat-card-subtitle>
                    </div>
                </div>
                I dati visualizzati in questo applicazione sono forniti dal Ministero della Salute italiano ed elaborati
                dal Dipartimento della Protezione Civile.
                <br>
                Questo lavoro è un derivato (poiché usa i suoi dati) di <a
                    href="https://github.com/pcm-dpc/COVID-19">COVID-19 Italia - Monitoraggio situazione</a> licenziato
                sotto
                <a href="https://github.com/pcm-dpc/COVID-19/blob/master/LICENSE">CC BY
                    4.0</a>

            </mat-card-content>
        </mat-card>
    </div>
</div>