<div fxLayout="row wrap">
    <div fxFlex.gt-lg="100" fxFlex.gt-md="100" fxFlex.gt-xs="100" fxFlex="100">
        <mat-card>
            <mat-card-content>
                <div class="d-flex flex-wrap">
                    <div>
                        <mat-card-title>ITA-COVID19</mat-card-title>
                        <mat-card-subtitle>Autore, attributions e licenze</mat-card-subtitle>
                    </div>
                </div>
            </mat-card-content>
        </mat-card>
    </div>
</div>

<div fxLayout="row wrap">
    <div fxFlex.gt-lg="100" fxFlex.gt-md="100" fxFlex.gt-xs="100" fxFlex="100">
        <mat-card>
            <mat-card-content>
                <div class="d-flex flex-wrap">
                    <div>
                        <mat-card-title>Autore</mat-card-title>
                        <mat-card-subtitle></mat-card-subtitle>
                    </div>
                </div>
                <img width="12%" src="https://1.gravatar.com/avatar/abe1110a1a0c830f3a00d20fb578b76b?s=240&d=identicon&r=G">
                <br>
                <p class="mat-subheading-2">Carmelo La Gamba (<a href="https://github.com/carmelolg">GitHub</a>)</p>
            </mat-card-content>
        </mat-card>
    </div>
</div>

<div fxLayout="row wrap">
    <div fxFlex.gt-lg="100" fxFlex.gt-md="100" fxFlex.gt-xs="100" fxFlex="100">
        <mat-card>
            <mat-card-content>
                <div class="d-flex flex-wrap">
                    <div>
                        <mat-card-title>Attribution</mat-card-title>
                        <mat-card-subtitle></mat-card-subtitle>
                    </div>
                </div>
                All the data displayed in this dashboard is provided by the Italian Ministry of Health (Ministero della
                Salute) and elaborated by Dipartimento della Protezione Civile. This work is therefore a derivative of
                <a href="https://github.com/pcm-dpc/COVID-19">COVID-19 Italia - Monitoraggio situazione</a> licensed
                under <a href="https://github.com/pcm-dpc/COVID-19/blob/master/LICENSE">CC BY
                    4.0</a>

            </mat-card-content>
        </mat-card>
    </div>
</div>