<div fxLayout="row wrap">
    <div fxFlex.gt-lg="100" fxFlex.gt-md="100" fxFlex.gt-xs="100" fxFlex="100">
        <mat-card>
            <mat-card-content>
                <div class="d-flex flex-wrap">
                    <div>
                        <mat-card-title>Epidemia da COVID-19 in Italia</mat-card-title>
                        <mat-card-subtitle>Andamento giornaliero e statistiche</mat-card-subtitle>
                    </div>
                </div>
                <!-- <p>I grafici che troverete sono frutto dell'elaborazione dei dati forniti dalla Protezione civile</p> -->
            </mat-card-content>
        </mat-card>
    </div>
</div>
<div fxLayout="row wrap">
    <div fxFlex.gt-lg="100" fxFlex.gt-md="100" fxFlex.gt-xs="100" fxFlex="100">
        <mat-card>
            <mat-card-content>
                <div class="d-flex flex-wrap">
                    <div>
                        <mat-card-title>Casi totali</mat-card-title>
                        <mat-card-subtitle>Italia</mat-card-subtitle>
                    </div>
                    <div class="ml-auto">
                        <ul class="list-inline">
                            <li>
                                <h6 class="text-success m-0"><i
                                        class="mdi mdi-checkbox-blank-circle font-10 m-r-10 "></i>Casi ad oggi</h6>
                            </li>
                            <li>
                                <h6 class=" text-info m-0"><i
                                        class="mdi mdi-checkbox-blank-circle font-10 m-r-10"></i>Incremento giornaliero
                                </h6>
                            </li>
                        </ul>
                    </div>
                </div>
                <!-- <p>Il seguente grafico rappresenta i dati totali</p> -->
                <div *ngIf="totalCases" class="ct-chart">
                    <x-chartist class="" [data]="totalCases.data" [type]="totalCases.type"
                        [options]="totalCases.options" [responsiveOptions]="totalCases.responsiveOptions"
                        [events]="totalCases.events"> </x-chartist>
                </div>
            </mat-card-content>
        </mat-card>
        <span *ngIf="!totalCases">
            <div class="spinner">
                <div class="double-bounce1"></div>
                <div class="double-bounce2"></div>
            </div>
        </span>
    </div>
</div>

<div fxLayout="row wrap">
    <div fxFlex.gt-lg="100" fxFlex.gt-md="100" fxFlex.gt-xs="100" fxFlex="100">
        <mat-card>
            <mat-card-content>
                <div class="d-flex flex-wrap">
                    <div>
                        <mat-card-title>Ospedalizzati totali</mat-card-title>
                        <mat-card-subtitle>Italia</mat-card-subtitle>
                    </div>
                    <div class="ml-auto">
                        <ul class="list-inline">
                            <li>
                                <h6 class="text-success m-0"><i
                                        class="mdi mdi-checkbox-blank-circle font-10 m-r-10 "></i>Casi ad oggi</h6>
                            </li>
                            <li>
                                <h6 class=" text-info m-0"><i
                                        class="mdi mdi-checkbox-blank-circle font-10 m-r-10"></i>Incremento giornaliero
                                </h6>
                            </li>
                        </ul>
                    </div>
                </div>

                <div *ngIf="totalHospitalized" class="ct-chart">
                    <x-chartist class="" [data]="totalHospitalized.data" [type]="totalHospitalized.type"
                        [options]="totalHospitalized.options" [responsiveOptions]="totalHospitalized.responsiveOptions"
                        [events]="totalHospitalized.events"> </x-chartist>
                </div>
            </mat-card-content>
        </mat-card>
        <span *ngIf="!totalHospitalized">
            <div class="spinner">
                <div class="double-bounce1"></div>
                <div class="double-bounce2"></div>
            </div>
        </span>
    </div>
</div>


<div fxLayout="row wrap">
    <div fxFlex.gt-lg="100" fxFlex.gt-md="100" fxFlex.gt-xs="100" fxFlex="100">
        <mat-card>
            <mat-card-content>
                <div class="d-flex flex-wrap">
                    <div>
                        <mat-card-title>Pazienti in terapia intensiva</mat-card-title>
                        <mat-card-subtitle>Italia</mat-card-subtitle>
                    </div>
                    <div class="ml-auto">
                        <ul class="list-inline">
                            <li>
                                <h6 class="text-success m-0"><i
                                        class="mdi mdi-checkbox-blank-circle font-10 m-r-10 "></i>Casi ad oggi</h6>
                            </li>
                            <li>
                                <h6 class=" text-info m-0"><i
                                        class="mdi mdi-checkbox-blank-circle font-10 m-r-10"></i>Incremento giornaliero
                                </h6>
                            </li>
                        </ul>
                    </div>
                </div>

                <div *ngIf="totalIntensiveCare" class="ct-chart">
                    <x-chartist class="" [data]="totalIntensiveCare.data" [type]="totalIntensiveCare.type"
                        [options]="totalIntensiveCare.options"
                        [responsiveOptions]="totalIntensiveCare.responsiveOptions" [events]="totalIntensiveCare.events">
                    </x-chartist>
                </div>
            </mat-card-content>
        </mat-card>
        <span *ngIf="!totalIntensiveCare">
            <div class="spinner">
                <div class="double-bounce1"></div>
                <div class="double-bounce2"></div>
            </div>
        </span>
    </div>
</div>


<div fxLayout="row wrap">
    <div fxFlex.gt-lg="100" fxFlex.gt-md="100" fxFlex.gt-xs="100" fxFlex="100">
        <mat-card>
            <mat-card-content>
                <div class="d-flex flex-wrap">
                    <div>
                        <mat-card-title>Morti totali</mat-card-title>
                        <mat-card-subtitle>Italia</mat-card-subtitle>
                    </div>
                    <div class="ml-auto">
                        <ul class="list-inline">
                            <li>
                                <h6 class="text-success m-0"><i
                                        class="mdi mdi-checkbox-blank-circle font-10 m-r-10 "></i>Casi ad oggi</h6>
                            </li>
                            <li>
                                <h6 class=" text-info m-0"><i
                                        class="mdi mdi-checkbox-blank-circle font-10 m-r-10"></i>Incremento giornaliero
                                </h6>
                            </li>
                        </ul>
                    </div>
                </div>

                <div *ngIf="totalDead" class="ct-chart">
                    <x-chartist class="" [data]="totalDead.data" [type]="totalDead.type" [options]="totalDead.options"
                        [responsiveOptions]="totalDead.responsiveOptions" [events]="totalDead.events"> </x-chartist>
                </div>
            </mat-card-content>
        </mat-card>
        <span *ngIf="!totalDead">
            <div class="spinner">
                <div class="double-bounce1"></div>
                <div class="double-bounce2"></div>
            </div>
        </span>
    </div>
</div>


<div fxLayout="row wrap">
    <div fxFlex.gt-lg="100" fxFlex.gt-md="100" fxFlex.gt-xs="100" fxFlex="100">
        <mat-card>
            <mat-card-content>
                <div class="d-flex flex-wrap">
                    <div>
                        <mat-card-title>Guariti totali</mat-card-title>
                        <mat-card-subtitle>Italia</mat-card-subtitle>
                    </div>
                    <div class="ml-auto">
                        <ul class="list-inline">
                            <li>
                                <h6 class="text-success m-0"><i
                                        class="mdi mdi-checkbox-blank-circle font-10 m-r-10 "></i>Casi ad oggi</h6>
                            </li>
                            <li>
                                <h6 class=" text-info m-0"><i
                                        class="mdi mdi-checkbox-blank-circle font-10 m-r-10"></i>Incremento giornaliero
                                </h6>
                            </li>
                        </ul>
                    </div>
                </div>

                <div *ngIf="totalRecovered" class="ct-chart">
                    <x-chartist class="" [data]="totalRecovered.data" [type]="totalRecovered.type"
                        [options]="totalRecovered.options" [responsiveOptions]="totalRecovered.responsiveOptions"
                        [events]="totalRecovered.events"> </x-chartist>
                </div>
            </mat-card-content>
        </mat-card>
        <span *ngIf="!totalRecovered">
            <div class="spinner">
                <div class="double-bounce1"></div>
                <div class="double-bounce2"></div>
            </div>
        </span>
    </div>
</div>

<div fxLayout="row wrap">
    <div fxFlex.gt-lg="100" fxFlex.gt-md="100" fxFlex.gt-xs="100" fxFlex="100">
        <mat-card>
            <mat-card-content>
                <div class="d-flex flex-wrap">
                    <div>
                        <mat-card-title>Tamponi effettuati</mat-card-title>
                        <mat-card-subtitle>Italia</mat-card-subtitle>
                    </div>
                    <div class="ml-auto">
                        <ul class="list-inline">
                            <li>
                                <h6 class="text-success m-0"><i
                                        class="mdi mdi-checkbox-blank-circle font-10 m-r-10 "></i>Casi ad oggi</h6>
                            </li>
                            <li>
                                <h6 class=" text-info m-0"><i
                                        class="mdi mdi-checkbox-blank-circle font-10 m-r-10"></i>Incremento giornaliero
                                </h6>
                            </li>
                        </ul>
                    </div>
                </div>

                <div *ngIf="totalTests" class="ct-chart">
                    <x-chartist class="" [data]="totalTests.data" [type]="totalTests.type"
                        [options]="totalTests.options" [responsiveOptions]="totalTests.responsiveOptions"
                        [events]="totalTests.events"> </x-chartist>
                </div>
            </mat-card-content>
        </mat-card>
        <span *ngIf="!totalTests">
            <div class="spinner">
                <div class="double-bounce1"></div>
                <div class="double-bounce2"></div>
            </div>
        </span>
    </div>
</div>