<div fxLayout="row wrap">
    <div fxFlex.gt-lg="100" fxFlex.gt-md="100" fxFlex.gt-xs="100" fxFlex="100">
        <mat-card>
            <mat-card-content>
                <div class="d-flex flex-wrap">
                    <div>
                        <mat-card-title>Epidemia da COVID-19 in Italia </mat-card-title>
                        <mat-card-subtitle>Andamento giornaliero e statistiche</mat-card-subtitle>

                        <span *ngIf="migrationDate"><br />
                            <mat-card-title>Ultimo aggiornamento:
                                {{migrationDate | date:  'dd-MM-yyyy, H:mm' }}</mat-card-title>
                            <br />
                        </span>
                        <!-- <mat-card-subtitle *ngIf="migrationDate">Dati aggiornati alla data {{migrationDate | date:  'dd-MM-yyyy, H:mm' }}</mat-card-subtitle> -->
                    </div>
                </div>

                <mat-grid-list cols="4" rowHeight="50px">
                    <mat-grid-tile *ngFor="let tile of genericTiles" [colspan]="tile.cols" [rowspan]="tile.rows"
                        [style.background]="tile.color">
                        <mat-grid-tile-header>
                            {{tile.header}}
                        </mat-grid-tile-header>
                        <span class="percentage">{{tile.percentage}}</span>
                        <!-- <mat-grid-tile-footer>
                            {{tile.footer}}
                        </mat-grid-tile-footer> -->
                    </mat-grid-tile>
                </mat-grid-list>
                <span *ngIf="!genericTiles || genericTiles.length === 0">
                    <div class="spinner">
                        <div class="double-bounce1"></div>
                        <div class="double-bounce2"></div>
                    </div>
                </span>
            </mat-card-content>
        </mat-card>
    </div>
</div>

<div fxLayout="row wrap">
    <div fxFlex.gt-lg="100" fxFlex.gt-md="100" fxFlex.gt-xs="100" fxFlex="100">
        <mat-card>
            <!-- Min height in order to fix angular material bug that scroll to top when tab change -->
            <div class="min-height-800">
                <mat-tab-group mat-align-tabs="center" mat-stretch-tabs (selectedTabChange)="changeTabHandler($event)">
                    <mat-tab label="Riepilogo">
                        <app-chart [chartConfig]="resume" [info]="resumeInfo"></app-chart>

                        <mat-card-content>
                            <div class="d-flex flex-wrap">
                                <div>
                                    <mat-card-title>Situazione corrente</mat-card-title>
                                    <mat-card-subtitle>Statistiche in percentuale</mat-card-subtitle>
                                </div>
                            </div>
                            <mat-grid-list cols="4" rowHeight="50px">
                                <mat-grid-tile *ngFor="let tile of tiles" [colspan]="tile.cols" [rowspan]="tile.rows"
                                    [style.background]="tile.color">
                                    <mat-grid-tile-header>
                                        {{tile.header}}
                                    </mat-grid-tile-header>
                                    <span class="percentage">{{tile.percentage}}</span>
                                    <!-- <mat-grid-tile-footer>
                                    {{tile.footer}}
                                </mat-grid-tile-footer> -->
                                </mat-grid-tile>
                            </mat-grid-list>
                            <span *ngIf="!tiles || tiles.length === 0">
                                <div class="spinner">
                                    <div class="double-bounce1"></div>
                                    <div class="double-bounce2"></div>
                                </div>
                            </span>

                        </mat-card-content>

                    </mat-tab>
                    <mat-tab label="Contagi">

                        <!-- <app-chart [chartConfig]="totalCases" [info]="totalCasesInfo"></app-chart> -->

                        <app-chart [chartConfig]="totalNewCases" [info]="totalNewCasesInfo"></app-chart>

                        <mat-divider></mat-divider>

                        <app-chart [chartConfig]="totalPositives" [info]="totalPositivesInfo"></app-chart>

                        <mat-divider></mat-divider>

                        <app-chart [chartConfig]="growthRates" [info]="growthRatesInfo"></app-chart>

                    </mat-tab>
                    <mat-tab label="Ricoveri">

                        <app-chart [chartConfig]="totalHospitalized" [info]="totalHospitalizedInfo"></app-chart>

                        <mat-divider></mat-divider>

                        <app-chart [chartConfig]="totalHospitalizedIncrease" [info]="totalHospitalizedIncreaseInfo">
                        </app-chart>

                        <mat-divider></mat-divider>

                        <app-chart [chartConfig]="totalIntensiveCare" [info]="totalIntensiveCareInfo"></app-chart>

                        <mat-divider></mat-divider>

                        <app-chart [chartConfig]="totalIntensiveCareIncrease" [info]="totalIntensiveCareIncreaseInfo">
                        </app-chart>

                    </mat-tab>
                    <mat-tab label="Deceduti / Guariti">

                        <app-chart [chartConfig]="totalDead" [info]="totalDeadInfo"></app-chart>

                        <mat-divider></mat-divider>

                        <app-chart [chartConfig]="totalDeadIncrease" [info]="totalDeadIncreaseInfo"></app-chart>

                        <mat-divider></mat-divider>

                        <app-chart [chartConfig]="totalRecovered" [info]="totalRecoveredInfo"></app-chart>

                        <mat-divider></mat-divider>

                        <app-chart [chartConfig]="totalRecoveredIncrease" [info]="totalRecoveredIncreaseInfo">
                        </app-chart>
                    </mat-tab>
                    <mat-tab label="Tamponi">

                        <!-- <app-chart [chartConfig]="testTodaysWithNewPositive" [info]="testTodaysWithNewPositiveInfo">
                        </app-chart>
                        <mat-divider></mat-divider> -->
                        <!-- <app-chart [chartConfig]="totalTests" [info]="totalTestsInfo"></app-chart>-->

                        <app-chart [chartConfig]="totalTestsIncrease" [info]="totalTestsIncreaseInfo"></app-chart>

                        <mat-divider></mat-divider>

                        <app-chart [chartConfig]="percentageNewPositiveByTest" [info]="percentageNewPositiveByTestInfo">
                        </app-chart>

                    </mat-tab>
                </mat-tab-group>
            </div>
        </mat-card>
    </div>
</div>